.iconFlipCard {
    // Needed for the 3D effect
  perspective: 1000px;
}

.iconFlipCardInner {
  // Inner layer needs to have the same size as the FlipCard itself
  width: 100%;
  height: 100%;

  // Center the text displayed
  text-align: center;

  // Define the duration of the flip-transformation
  transition: transform 0.6s;

  // Keep the 3D perspective while the flip-transformation is happening
  transform-style: preserve-3d;
}

.iconFlipCard:hover .iconFlipCardInner {
  transform: rotateY(180deg);
}

@mixin FlipCardFrontBackPosition {
  // Font & Back need to have the same size as the FlipCard itself
  width: 100%;
  height: 100%;

  // Absolute positioned elements are removed from the normal flow, and can overlap elements.
  position: absolute;

  // Hide the back side of the FlipCard
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  // Hotfix: This solves Firefox's backface-visibility bug
  transform: rotateX(0deg);
}

.iconFlipCardFront {
  @include FlipCardFrontBackPosition;
}

.iconFlipCardBack {
  @include FlipCardFrontBackPosition;
  transform: rotateY(180deg);
}